body {
    font-family: 'Podkova', sans-serif;
    font-weight: 100;
    background-color: white;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

#logo-image {
    width: clamp(220px, 50vw, 800px);
    display: block;
    object-fit: contain;
}

nav {
    gap: 15px;
    padding: 16px 24px;

    border-bottom: 1px solid lightgray;
}

nav, footer {
    background-color: whitesmoke;
    border-top: 1px solid lightgray;
}

#admin-panel-button {
    margin-right: auto;

    background-color: #FF3300;
    color: white;
    border: none;

    font-weight: 600;

    transition: 0.2s;
}

#admin-panel-button:hover {
    background-color: #FF5C33;
    transform: translateY(-1px);
}

.nav-link {
    background: transparent;
    border: none;

    color: black;
    padding: 5px;

    cursor: pointer;
    transition: 0.25s;
}

.nav-link:hover {
    color: #FF3300;
}

.nav-link i {
    font-size: 2rem;
}

section h3 {
    margin-bottom: 12px;
}


.popup {
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);

    background: white;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    z-index:9999;
}


#login-button, #register-button {
    background-color: #FF3300;
    color: white;

    border: none;
    font-weight: 600;

    transition: 0.2s;
}

#login-button:hover, #register-button:hover {
    background-color:  #FF5C33;
    transform: translateY(-1px);
}

.form-control:focus {
    border-color: #FF3300;
    box-shadow: 0 0 0 0.25rem #FF5C33;
}

.show-popup-text{
    color: #FF3300;
    text-decoration: underline;
    cursor: pointer;
} 

.show-popup-text:hover {
    color: #FF5C33;
}

.hidden {
    display: none;
}

